:root {
    --primary-colour: #651FFF;
    --secondary-colour: #0B0D0E;
    --tertiary-colour: #ECECFE;
    --tertiary-colour-two: #1A284E;
    --tertiary-colour-three: #E0F7FA;

    --primary-header: 56px;
    --secondary-header: 48px;
    --tertiary-header: 34px;
    --regular-text: 18px;
    --medium-text: 16px;
    --extra-small-text: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}